<article class="blog-item" style="background-image:url({{post.data.image}});">
  <div class="tag-f">
    <a class="tag" href="tag">{{ tag }}</a>
  </div>
  <div class="blog-f">
    <a class="blog-title" href="{{ post.url }}">{{ post.data.title }}</a>
    <p class="blog-date">2021-09-02</p>
  </div>
</article>