<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allblogs">Blog</a></li>
        <li><a href="/portfolio">About me</a></li>
      </ul>
    </nav>
  </div>
</header>