---
layout: base.njk
title: Roopaish Portfolio
author: Rupesh Budhathoki, Roopaish
description: Roopaish Portfolio
keyword: portfolio,roopaish
image: 
url: 
CSSFile: portfolio.css
---
<main class="portfolio">
  <div class="container">
    <section class="hero">

      <div class="hero-text">
        <div class="hero-name">
          Rupesh Budhathoki
        </div>
        <div class="hero-dialogue">
          I am passionate about what I do.<br />
          I go out of my way to make the best thing possible.
        </div>
      </div>

      <div class="hero-img">
        <img src="../assets/me.png" alt="Just my cool art">
      </div>

    </section>

    <section class="about">
      <div class="section-title">
        What I Know
      </div>

      <div class="more-about">
        <div class="education">
          <div class="title">
            Education
          </div>
          <div class="info">
            I mostly learn from free resources but yeah
            currently in university doing Software Engineering.
          </div>
        </div>

        <div class="skills">
          <div class="title">
            Skills
          </div>
          <div class="info">
            HTML/CSS/JS<br />
            Flutter<br />
            C++
          </div>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="section-title">
        My Favorite Projects
      </div>
      <div class="projects-showcase">
        <a href="https://roopaish.github.io/CSS-RoadMap/Godot%20Landing%20Page%20-%20Redesign/">
          <img src="../assets/projects/godot.png" alt="Godot">
        </a>
        <a href="https://roopaish.github.io/CSS-RoadMap/Youtube%20Clone%20-%20Redesign/">
          <img src="../assets/projects/youtube.png" alt="Youtube">
        </a>
        <a href="https://roopaish.github.io/Javascript-Projects/Shooting%20Game/" target="_blank">
          <img src="../assets/projects/game.png" alt="Game">
        </a>
        <a href="https://roopaish.github.io/Javascript-Projects/Drawing-app/">
          <img src="../assets/projects/drawing.png" alt="Drawing">
        </a>
      </div>
    </section>

    <section class="contact">
      <div class="section-title">
        Get in contact
      </div>
      <div class="form">
        <form method="POST" data-netlify="true">
          <p class="input-field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
          </p>
          <p class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </p>
          <p class="input-field">
            <label for="message">Message</label>
            <textarea type="text" name="message" id="message"></textarea>
          </p>
          <div class="input-field">
            <label for="message">Captcha only for Send Directly Button</label>
            <div data-netlify-recaptcha="true"></div>
          </div>
          <p class="input-field button">
            <button><a href="mailto:rupesh39943@gmail.com">Send via email</a></button>
            <button id="send">Send directly</button>
          </p>
        </form>
      </div>
    </section>
  </div>
</main>
