/* Reset  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*::selection {
  background: #e93a7d;
  color: #ffffff;
}

:root {
  --c-title: hsl(251, 75%, 22%);
  --c-title-light: hsl(0, 0%, 0%);
  --c-light: hsl(224, 75%, 87%);
  --c-title-summary: #4c5a6b;
  --c-theme: white;
}

body {
  font-family: DM Sans, Helvetica, Arial, sans-serif;
  background-color: var(--c-theme);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}

/* Header */
header {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  font-size: 16px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 400px) {
  nav ul {
    gap: 0px;
  }
}

nav ul li a {
  color: var(--c-title);
}

nav ul li {
  padding: 0 15px;
  /* border-radius: 10px; */
  border-bottom: 2px solid transparent;
}

nav ul li:hover {
  color: var(--c-title-light);
  border-bottom: 2px solid #e93a7d;
}

/* Blogs  */
.hero {
  margin-top: -60px;
  height: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  background-size: cover;
}

.hero .primary-title {
  font-size: 50px;
}

.hero-intro {
  font-size: 20px;
  margin-bottom: 10px;
}

.featured-blogs {
  margin-top: -30px;
  padding-top: 80px;
  background: linear-gradient(var(--c-light), white);
  border-radius: 30px 30px 0 0;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  gap: 30px;
}

.blog-item {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding:30px; */
  position: relative;
  padding: 30px;
  min-height: 270px;
  /* max-height: 390px; */
  /* max-width: 570px;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-f {
  align-self: flex-end;
}

.tag-f,
.blog-f {
  z-index: 1;
}

.blog-item:nth-child(4n + 1) {
  grid-row: span 2;
}

.blog-item:nth-child(1) {
  grid-column: span 2;
}

.blog-item:nth-child(3n + 8) {
  grid-row: span 2;
}

@media (max-width: 673px) {
  .blog-item:nth-child(n) {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.blog-item::after {
  content: "";
  z-index: 0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 24, 147, 0.4);
}

.primary-title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  color: var(--c-title);
  margin-bottom: 15px;
}

.primary-summary {
  font-size: 18px;
  color: var(--c-title-summary);
  margin-bottom: 60px;
  line-height: 28px;
}

.tag {
  border-radius: 10px;
  background-color: var(--c-theme);
  color: var(--c-title);
  font-size: 14px;
  padding: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 30px;
}

.tag:hover {
  color: var(--c-title-light);
}

.blog-title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--c-theme);
}

.blog-title:hover {
  text-decoration: underline;
}

.blog-date {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 24px;
  color: var(--c-theme);
}
