/* Reset  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*::selection {
  background: #e93a7d;
  color: #ffffff;
}

:root {
  --c-title: hsl(251, 75%, 22%);
  --c-title-light: hsl(226, 75%, 22%);
  --c-title-summary: #4c5a6b;
  --c-theme: white;
}

body {
  font-family: DM Sans, Helvetica, Arial, sans-serif;
  background-color: var(--c-theme);
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}

main {
  padding-top: 30px;
}

/* Header */
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  width: max-content;
  display: flex;
  gap: 30px;

  font-size: 16px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 30px;
  color: var(--c-title);
}

nav ul li{
  padding:0 15px;
  /* border-radius: 10px; */
  border-bottom:2px solid transparent;
}

nav ul li:hover {
  color: var(--c-title-light);
  border-bottom:2px solid #e93a7d;
}

nav u li:active{
  background-color: #e93a7d;
}

/* Blogs  */
.hero{
  height: 90vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-intro{
  max-width: 45ch;
  margin-bottom: 10px;
}

.featured-blogs{
  /* width: 100vw; */
  /* background-color: var(--c-title-light); */
  border-radius: 30px 30px 0 0;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  gap: 30px;
}

.blog-item {
  /* padding:30px; */
  position: relative;
  padding: 30px;
  min-height: 270px;
  /* max-height: 390px; */
  /* max-width: 570px;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-f {
  align-self: flex-end;
}

.blog-item:nth-child(4n + 1) {
  grid-row: span 2;
}

.blog-item:nth-child(1) {
  grid-column: span 2;
}

.blog-item:nth-child(3n + 8) {
  grid-row: span 2;
}

.blog-img {
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blog-img img {
  border-radius: 10px;
}

.blog-img .colored-stack {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 24, 147, 0.4);
}

.primary-title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  color: var(--c-title);
  margin-bottom: 15px;
}

.primary-summary {
  font-size: 18px;
  color: var(--c-title-summary);
  margin-bottom: 60px;
  line-height: 28px;
}

.tag {
  border-radius: 10px;
  background-color: var(--c-theme);
  color: var(--c-title);
  font-size: 14px;
  padding: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 30px;
}

.tag:hover {
  color: var(--c-title-light);
}

.blog-title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--c-theme);
}

.blog-title:hover {
  text-decoration: underline;
}

.blog-date {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 24px;
  color: var(--c-theme);
}
